{{#doc-printer rows=rows as |row|}}
  <a href="{{row.link}}" class="doc-link">
    <span class="doc-data">
      {{row.appointments}} with {{row.pair}} on {{row.description}}
    </span>
  </a>
{{/doc-printer}}
